footer.footer
    footer__logo 
        img(src='/img/beach.png' alt='tourra logo')
    ul.footer__nav 
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact us
    p.footer__copyright &copy; by TurkDevbroz. All rights reserved
    p.footer__copyright.footer__nav
        a(href='#') Created by TurkDevbroz.com