header.header 
    nav.nav.nav--tours
        a.nav__el(href='/') Boat Safari
        //- form.nav__search
        //- button.nav__search-btn 
        //-     svg 
        //-         use(xlink:href='img/icons.svg#icon-search')
        //- input.nav_search-input(type='text' placeholder='Search boat trips')
    .header__logo 
        img(src='/img/favicon.png' alt='Tourra logo')
    nav.nav.nav--user  
        if user
            a.nav__el.nav__el--logout(href='#') Sign out
            a.nav__el(href='#')
                img.nav__user-img(src=`/img/users/${user.photo}`, alt=`Photo of ${user.name}`)
                span= user.name.split(' ')[0]
        else
            a.nav__el(href='/login') Log in
            a.nav__el.nav__el--cta(href='#') Sign up    