header.header 
    nav.nav.nav--tours
        a.nav__el(href='#') Boat Safari
        //- form.nav__search
        //- button.nav__search-btn 
        //-     svg 
        //-         use(xlink:href='img/icons.svg#icon-search')
        //- input.nav_search-input(type='text' placeholder='Search boat trips')
    .header__logo 
        img(src='img/favicon.png' alt='Tourra logo')
    nav.nav.nav--user 
        //- a.nav__el(href='#') My bookings
        //- a.nav__el(href='#')
        //-     img.nav_user-img(src='img/user.jpg', alt='User photo')
        //-     span Yemicodes
        button.nav__el Log in
        button.nav__el.nav__el--cta Sign up    